body {
	font-size: 16px;
}

.re-list {
  list-style-type: none;
}

.search-page ul {
    margin-bottom: 0;
}

.list-inline > li {
    padding-right: 0;
}

.navbar-default {
    background-color: #1B4464;
}

.reroils-frontpage-upper {
	margin-top: -20px;
    position: relative;
}

@media (max-width: 768px) {
    .reroils-frontpage-upper {
        padding-left: 0;
        padding-right: 0;
    }
}

.reroils-frontpage-lower {
	margin-top: 20px;
}

#footer {
    min-height: 80px;
}

#re-copyright {
    color: #bbbbbb;
    padding-top: 20px;
}

.reroils-circulation {
    margin-top: 10px;
}

.reroils-red-banner {
	background-color: #ba1319;
	color: #ffffff;
	padding: 6px;
}

.reroils-red-banner a {
    color: #ffffff;
}

.reroils-frontpage-bullet {
	margin-bottom: 10px;
	min-height: 48px;
}

.reroils-frontpage-bullet-logo {
	width: 48px;
	float: left;
	vertical-align: top;
}

.reroils-frontpage-bullet-text {
	/*width: 300px;*/
	display: block;
}

.reroils-frontpage-lower h3 {
	color: #1B4464;
	margin-top: 30px;
	margin-bottom: 20px;
}

img.reroils-frontpage-rero21 {
	width: 65px;
	margin-left: 2px;
	margin-right: 9px;
	margin-bottom: 6px;
}

.reroils-service-logo {
	background-color: #204b73;
	padding: 5px 20px;
	margin-bottom: 8px;
	margin-left: 1px;
	border-radius: 5px;
	display: inline-block;
}

.reroils-slogan-large {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    color: #ffffff;
}

.reroils-slogan-small {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    color: #ffffff;
}

.reroils-prompt {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10%;
    padding: 0 20%;
}

@media (max-width: 768px) {
    .reroils-prompt {
        bottom: 40%;
        padding: 0 10%;
    }
}

/*****************************************
   Size of the search input, in the navbar
   Smaller for medium screens
 ****************************************/

.navbar-form .input-group {
    width: 250%;
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-form .input-group {
        width: 140%;
    }
}

invenio-search-range .panel-heading h3,
invenio-search-facets .panel-heading h3 {
    text-transform: capitalize;
}
/****************************************
   Colors for availability
  **************************************/

.text-success {
    color: #439544;
}

.text-danger {
    color: #d5504d;
}
