.re-list {
  list-style-type: none;
}

.search-page ul {
    margin-bottom: 0;
}

.list-inline > li {
    padding-right: 0;
}

.container .jumbotron,
.container-fluid .jumbotron {
    margin-top: 30px;
    min-height: 30em;
}

.navbar-default {
    background-color: #1B4464;
}

#footer {
    min-height: 80px;
}

#re-copyright {
    color: #bbbbbb;
    padding-top: 20px;
}

.reroils-circulation {
    margin-top: 10px;
}