<label for="search" class="font-weight-bold">{{ placeholder | translate }}</label>
<div class="input-group px-0">
  <input
    #searchinput
    autofocus
    type="text"
    id="search"
    class="form-control"
    attr.aria-label="{{ placeholder | translate }}"
    [value]="searchText"
    (keyup.enter)="doSearch(searchinput.value)"
  >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-search" (click)="doSearch(searchinput.value)">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
  </div>
</div>
