{%- extends 'rero_ils/page.html' %}
{% set data = record.dumps() %}
{% from 'rero_ils/macros/macro.html' import dl, div_json %}

{%- block body %}
  <header class="row">
    <div id="thumbnail" class="col-sm-2 col-md-1 d-flex justify-content-start">
     <icon-thumbnail class="thumb"
          {% if record.identifiers %}
            identifiers='{{ (record.identifiers or {})|tojson }}'
          {% else %}
            identifiers=""
          {% endif %}
          type="{{ record.type }}"
          config='{{ {"thumbnail_service_url": config.RERO_ILS_THUMBNAIL_SERVICE_URL} | tojson }}'>
        </icon-thumbnail>
    </div>
    <h1 class="col-sm-10 col-md-11">{{ data.title }}</h1>
  </header>
  {%- block record_body %}
    <section>
      <!-- Document -->
      <section class="py-4 border-bottom">
        <article class="">
            <dl class="row mb-0">
            <!-- AUTHORS -->
            {% if data.authors|length > 0 %}
              {{ dl(_('Author'), data.authors|authors_format) }}
            {% endif %}

            <!-- PUBLISHERS -->
            {% if data.publishers|length > 0 %}
              {{ dl(_('Publisher'), data.publishers|publishers_format) }}
            {% endif %}

            <!-- PUBLICATION YEAR -->
            {% if data.publicationYear %}
              {{ dl(_('Date'),
                 data.freeFormedPublicationDate if data.freeFormedPublicationDate
                 else data.publicationYear) }}
            {% endif %}

            <!-- ABSTRACT -->
            {% if data.abstracts|length > 0 %}
              {{ dl(_('Abstract'), data.abstracts|abstracts_format|nl2br) }}
            {% endif %}

            <!-- PHYSICAL DESCRIPTION -->
            {% if data.extent or data.otherMaterialCharacteristics or data.formats %}
              {% set formats = ', '.join(data.formats) %}
              {% set description = ', '.join([data.extent, data.otherMaterialCharacteristics, formats]|select) %}
              {{ dl(_('Physical description'), description) }}
            {% endif %}

            <!-- ADDITIONAL MATERIALS -->
            {% if data.additionalMaterials %}
              {{ dl(_('Additional Materials'), data.additionalMaterials) }}
            {% endif %}

            <!-- SERIES -->
            {% if data.series|length > 0 %}
              {{ dl(_('Series'), data.series|series_format) }}
            {% endif %}

            <!-- UNIFORM TITLE -->
            {% if data.titlesProper|length > 0 %}
              {{ dl(_('Uniform title'), data.titlesProper|join('; ')) }}
            {% endif %}

            <!-- IS PART OF -->
            {% if data.is_part_of %}
              {{ dl(_('Is part of'), data.is_part_of) }}
            {% endif %}

            <!-- SUBJECTS -->
            {% if data.subjects|length > 0 %}
              {{ dl(_('Subjects'), data.subjects|join('; ')) }}
            {% endif %}

            <!-- NOTES -->
            {% if data.notes|length > 0 %}
              {{ dl(_('Notes'), notes|abstracts_format|nl2br) }}
            {% endif %}

            {% if data.identifiers %}
              {% if data.identifiers.isbn %}
                {{ dl(_('ISBN'), data.identifiers.isbn) }}
              {% endif %}
            {% endif %}

            {% if data.electronic_location|length > 0 %}
              {% set uris = [] %}
              {% for resource in data.electronic_location %}
                {% do uris.append('<a href="'+ resource.uri +'"><i class="fa fa-lock fa-fw"></i> '+ resource.uri +'</a>') %}
              {% endfor %}
              {{ dl(_('Online Access'), uris|join(', ')) }}
            {% endif %}

            {% if data.source %}
              {{ dl(
                _('Source'),
                '<a href="'+ data.source +'" target="_blank">'+ data.source +'</a>'
              ) }}
            {% endif %}
            <dt class="col-sm-3 offset-sm-2 offset-md-1">
              {{ _('Permalink') }}
            </dt>
            <dd class="col-sm-7 col-md-8">
              {{ url_for('invenio_records_ui.doc', pid_value=data.pid, _external=True) }}
            </dd>
            </dl>
        </article>
        <footer class="d-flex flex-column pt-2">
            {% if record.can_edit and current_user|can_edit %}
              {% with
                href_update=url_for('doc.edit_view', pid=data.pid),
                href_delete=url_for('doc.delete_view', pid=data.pid),
                json=record,
                message=_("Document cannot be deleted: there are still items linked to this document.")
              %}
                {% include 'rero_ils/_editor_button_actions.html' %}
              {% endwith %}
            {% else %}
              {% if current_user|can_edit %}
                {{ div_json(_('JSON'), data) }}
              {% endif %}
            {% endif %}
        </footer>
      </section>
      <!-- Items -->
      {%- if data.itemslist or ( current_user|can_edit and record.can_edit) %}
        <section class="py-4 border-bottom">
          <header class="mb-4">
            <h3>{{ _('Items') }}
              {%- if current_user|can_edit %}
                <a href="{{ url_for('item.create_view',
                         parent_pid=data.pid) }}" type="button" class="btn btn-sm btn-success">
                  <i class="fa fa-plus-square-o fa-fw"></i> {{ _('Add') }}
                </a>
              {% endif %}
            </h3>
          </header>
      {% endif %}
      {% if record.itemslist %}
        {% for item in record.itemslist %}
          {% set item_dump = item.dumps() %}
          <!-- Item -->
          <section class="pb-2">
            <header class="row mt-2">
              {% if item.barcode %}
                <h4 class="mb-0 col-xs-12 col-sm-10 offset-sm-2 col-md-11 offset-md-1">{{ _('Barcode') }}
                  {% if current_user|can_edit %}
                    <a href="{{ url_for('invenio_records_ui.item', pid_value=item.pid) }}">{{ item.barcode }}</a>
                  {% else %}
                    {{ item.barcode }}
                  {% endif %}
                </h4>
              {% endif %}
            </header>
            <article>
              <dl class="row mb-0">
                {% if item.call_number %}
                  {{ dl(_('Call Number'), item.call_number) }}
                {% endif %}
                {% if item_dump.library_name %}
                  {% if current_user|can_edit %}
                    {{ dl(_('Library'),'<a href="'+ url_for('invenio_records_ui.lib', pid_value=item_dump.library_pid) +'">'+item_dump.library_name+'</a>') }}
                  {% else %}
                    {{ dl(_('Library'), item_dump.library_name)}}
                  {% endif %}
                {% endif %}
                {% if item_dump.location_name %}
                  {% if current_user|can_edit %}
                    {{ dl(_('Location'),'<a href="'+ url_for('invenio_records_ui.loc', pid_value=item.location_pid) +'">'+item_dump.location_name+'</a> ') }}
                  {% else %}
                    {{ dl(_('Location'), item_dump.location_name)}}
                  {% endif %}
                {% endif %}
                {% if item|number_of_requests > 0 %}
                  {% if item|requested_this_item %}
                    {{ dl(_('Rank'), item|patron_request_rank) }}
                  {% endif %}
                {% endif %}
                {% if item.status %}
                  {{ dl(_('Status'),'<i class="fa fa-circle text-'+ ('success' if item.available else 'danger') +'"></i> '+         item|item_status_text(format='short_date', locale=current_i18n.locale.language)) }}
                {% endif %}
              </dl>
            </article>
            <footer class="row flex-wrap justify-content-between pt-2">
              <div class="dropdown col-12 col-sm-1 col-md-2 offset-sm-2 offset-md-1">
                {% if item|can_request %}
                  <a href="#" type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu">
                    {{ _('Request') }}
                    <i class="fa fa-caret-down fa-fw"></i>
                  </a>
                  <!-- TODO: Style the dropdown header -->
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <h6 class="dropdown-item">{{ _('Available Pickup Locations') }}</h6>
                    {% set locations = item.pid|item_library_pickup_locations %}
                    {% for location in locations %}
                      <a class="dropdown-item"
                         href="{{ url_for('items.request_item', item_pid_value=item.pid, location=location.pid)}}">
                          {{ location.name }}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="col-12 col-sm-9 d-flex flex-column">
                {% if current_user|can_edit %}
                  {% with
                    href_update=url_for('item.edit_view', pid=item.pid),
                    href_delete=url_for('item.delete_view', pid=item.pid),
                    json=item,
                    message=_("Item cannot be deleted: there are still transactions linked to this item.")
                  %}
                    {% include 'rero_ils/_editor_button_actions.html' %}
                  {% endwith %}
                {% endif %}
              </div>
            </footer>
          </section>
        {% endfor %}
      {% endif %}
      </section>
    </section>
  {%- endblock record_body %}
  <footer class="pt-4 rero-ils-detailed-view-footer">
    {%- set formats = export_formats(pid.pid_type) %}
      {%- if formats %}
        <h3 class="d-inline-block">{{ _('Export Formats') }}:</h3>
        <ul class="list-inline d-inline-block">
        {%- for slug, fmt in formats %}
          <li>
            <a href="{{ url_for('invenio_records_ui.doc_export', pid_value=pid.pid_value, format=slug, prettyprint=True) }}">
              {{ fmt.title }}
            </a>
          </li>
        {%- endfor %}
        </ul>
      {%- endif %}
  </footer>
{%- endblock body %}

{%- block javascript %}
  {{ super() }}
  {% assets "rero_ils_detailed_documents_items_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
