<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><hr /></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-push-4 text-right">
        {%- if config.I18N_LANGUAGES %}
        {% from "invenio_i18n/macros/language_selector.html" import language_selector_dropdown %}
        {{ language_selector_dropdown() }}
        {%- endif %}
      </div>
      <div class="col-xs-4 col-xs-pull-4">
        reroils-app:{{ version }}
      </div>
      <div class="col-xs-4 col-xs-pull-4">
        {% trans link="http://inveniosoftware.org" %}Powered by <a href="{{link}}">Invenio</a>{% endtrans %}
      </div>
    </div>
  </div>
</footer>