{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{record.title}}</h1>
        </div>
    </div>
    {%- block record_body %}
        {% if record.authors|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Author')}}:
                </div>
                <div class="col-md-10">
                {% for author in record.authors %}
                    {{ author.name }}
                    {% if author.qualifier %}
                    , {{ author.qualifier }}
                    {% endif %}
                    {% if author.date %}
                    , {{ author.date }}
                    {% endif %}
                    {{ ";" if not loop.last }}
                {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if record.publishers|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Publisher')}}:
                </div>
                <div class="col-md-10">
                    {% for publisher in record.publishers %}
                        {{ publisher.place|join('; ') }}:
                        {{ publisher.name|join('; ') }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if record.publicationDate %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Date')}}:
                </div>
                <div class="col-md-10">
                    {{ record.publicationDate }}
                </div>
            </div>
        {% endif %}

        {% if record.abstracts|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Abstract')}}:
                </div>
                <div class="col-md-10">
                    <ul class="list-inline">
                    {% for abstract in record.abstracts %}
                    <li>{{ abstract|e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if record.extent or record.otherMaterialCharacteristics or record.formats|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Physical description')}}:
                </div>
                <div class="col-md-10">
                    {% if record.extent %}
                        {{ record.extent }},
                    {% endif %}
                    {% if record.otherMaterialCharacteristics %}
                        {{ record.otherMaterialCharacteristics }},
                    {% endif %}
                    {% if record.formats|length > 0 %}
                        {{ record.formats|join(', ') }}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if record.additionalMaterials %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Additional Materials')}}:
                </div>
                <div class="col-md-10">
                    {{ record.additionalMaterials }}
                </div>
            </div>
        {% endif %}

        {% if record.series|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Series')}}:
                </div>
                <div class="col-md-10">
                    {% for serie in record.series %}
                        {% if serie.name %}
                            {{ serie.name }},
                        {% endif %}
                        {% if serie.number %}
                            {{ serie.number }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if record.titlesProper|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Uniform title')}}:
                </div>
                <div class="col-md-10">
                    {{ record.titlesProper|join('; ') }}
                </div>
            </div>
        {% endif %}

        {% if record.subjects|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Subjects')}}:
                </div>
                <div class="col-md-10">
                    {{ record.subjects|join('; ') }}
                </div>
            </div>
        {% endif %}

        {% if record.notes|length > 0 %}
            <div class="row">
                <div class="col-md-2">
                    {{_('Notes')}}:
                </div>
                <div class="col-md-10">
                    <ul class="list-inline">
                    {% for note in record.notes %}
                    <li>{{ note|e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if record.identifiers.isbn %}
            <div class="row">
                <div class="col-md-2">
                    {{_('ISBN')}}:
                </div>
                <div class="col-md-10">
                    {{ record.identifiers.isbn }}
                </div>
            </div>
        {% endif %}
        {% if record.identifiers.reroID %}
            <div class="row">
                <div class="col-md-2">
                    {{_('RERO Number')}}:
                </div>
                <div class="col-md-10">
                    {{ record.identifiers.reroID }}
                </div>
            </div>
        {% endif %}

        {% set permalink = 'http://data.rero.ch/01-%reroid%'|replace('%reroid%', record.identifiers.reroID) %}
        <div class="row">
            <div class="col-md-2">
                {{_('Permalink')}}:
            </div>
            <div class="col-md-10">
                <a href="{{ permalink }}" target="_blank">{{ permalink }}</a>
            </div>
        </div>

        <!-- Items -->
        {% if record.citems %}
        <div class='reroils-items'>
            <h3>{{_('Items')}}</h3>
        {% for item in record.citems %}
            {% if item.localisation %}
                <div class="row">
                    <div class="col-md-2">
                        {{_('Location')}}:
                    </div>
                    <div class="col-md-10">
                        {{ _(item.localisation) }}
                    </div>
                </div>
            {% endif %}

            {% if item.callNumber %}
                <div class="row">
                    <div class="col-md-2">
                        {{_('Call Number')}}:
                    </div>
                    <div class="col-md-10">
                        {{ item.callNumber }}
                    </div>
                </div>
            {% endif %}

            {% if item.barcode %}
                <div class="row">
                    <div class="col-md-2">
                        {{_('Barcode')}}:
                    </div>
                    <div class="col-md-10">
                        {{ item.barcode }}
                    </div>
                </div>
            {% endif %}

            {% if item._circulation.status %}
                <div class="row">
                    <div class="col-md-2">
                        {{_('Status')}}:
                    </div>
                    <div class="col-md-10">
                        {% if item._circulation.status == 'on_shelf' %}
                        <i class="fa fa-circle text-success" aria-hidden="true"></i> {{ _(item._circulation.status) }}
                        {% elif item._circulation.status == 'on_loan' %}
                        <i class="fa fa-circle text-danger" aria-hidden="true"></i> {{ _(item._circulation.status) }}
                        {% else %}
                        <i class="fa fa-circle" aria-hidden="true"></i> {{ _(item._circulation.status) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    {%- endblock %}
</div>
{%- endblock %}