{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{record.barcode}}</h1>
        </div>
    </div>
    {%- block record_body %}
        {{record | tojson}}
    {%- endblock %}
    {%- if current_user | can_edit %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group  pull-right" role="group" aria-label="...">
                <a href="{{ url_for('reroils_record_editor.update_crcitm', pid=record.itemid) }}" type="button" class="btn btn-success">
                    <i class="fa fa-pencil-square-o fa-fw"></i> {{_('Edit')}}
                </a>
                <a href="{{ url_for('reroils_record_editor.delete_crcitm', pid=record.itemid) }}" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-fw"></i> {{_('Delete')}}
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{%- endblock %}