{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{record.name}}</h1>
        </div>
    </div>
    {%- block record_body %}
        <!-- {{record | tojson}} -->
    {% if record.institutionid %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Institution ID')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{record.institutionid}}
        </div>
    </div>
    {% endif %}

    {% if record.address %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Address')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{record.address}}
        </div>
    </div>
    {% endif %}
    {%- endblock %}
</div>
{%- endblock %}
