[run]
relative_files = True
omit =
    rero_ils/dojson/cli.py
    rero_ils/modules/apiharvester/cli.py
    rero_ils/modules/cli.py
    rero_ils/modules/collections/cli.py
    rero_ils/modules/ebooks/cli.py
    rero_ils/modules/holdings/cli.py
    rero_ils/modules/ill_requests/cli.py
    rero_ils/modules/items/cli.py
    rero_ils/modules/loans/cli.py
    rero_ils/modules/patrons/cli.py
    rero_ils/modules/data_handling/cli.py
