[run]
relative_files = True
omit =
    rero_ils/alembic/*
    rero_ils/dojson/cli.py
    rero_ils/modules/apiharvester/cli.py
    rero_ils/modules/cli/fixtures.py
    rero_ils/modules/cli/index.py
    rero_ils/modules/cli/reroils.py
    rero_ils/modules/cli/users.py
    rero_ils/modules/cli/utils.py
    rero_ils/modules/collections/cli.py
    rero_ils/modules/ebooks/cli.py
    rero_ils/modules/holdings/cli.py
    rero_ils/modules/ill_requests/cli.py
    rero_ils/modules/items/cli.py
    rero_ils/modules/loans/cli.py
    rero_ils/modules/patrons/cli.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/utils.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/dnb/model.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/kul/model.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/loc/model.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/slsp/model.py
    rero_ils/modules/documents/dojson/contrib/marc21tojson/ugent/model.py
