.git
*.gitignore

.env

*.mo
*.pyc
*.swp
*.swo
*.~

celerybeat-schedule

.dockerignore
Dockerfile
docker-compose.yml
docker-compose-dev.yml

Procfile*
ui/node_modules


dist/*
docs/*
pytest.ini
rero_ils.egg-info
run-tests.sh
tests/*
