root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Python files
[*.py]
indent_size = 4

# CSS, HTML, JS, JSON, YML, Typescript
[*.{scss,css,html,js,json,yml,ts}]
indent_size = 2

# Dockerfile
[Dockerfile]
indent_size = 4
