# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Idea software family
.idea/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Application logs
logs/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache/
test.db

# end-to-end testing
.e2e_screenshots

# Translations
*.mo

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Vim swapfiles
.*.sw?

celerybeat-schedule

# Environment variables
.env
.python-version

# Virtual studio pref
.vscode

# Coverage xml file
cov.xml

# ES mapping files
tmp/

# Wiki files
wiki/

# error files from documents creation
data/*_errors.xml

# redis scheduler file
rero_ils.schedulers.RedisScheduler

# Cypress
tests/e2e/cypress/node_modules
tests/e2e/cypress/cypress/videos
tests/e2e/cypress/cypress/screenshots
tests/e2e/cypress/cypress/integration/test

# Dependencies
/node_modules

# Macosx
.DS_Store
