# -*- coding: utf-8 -*-
#
# This file is part of RERO ILS.
# Copyright (C) 2017 RERO.
#
# RERO ILS is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# RERO ILS is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with RERO ILS; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, RERO does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

language: python

python:
  - "3.6"

cache:
  - pip

dist: xenial

sudo: required

services:
  - docker
  - xvfb

addons:
  chrome: stable # https://docs.travis-ci.com/user/chrome

notifications:
  email: # sent to the committer and the author
    on_success: never # default: always
    on_failure: always # default: always

matrix:
  fast_finish: true

env:
  global:
    # Print screenshots to console output
    - E2E_OUTPUT=base64
    # Enable end-to-end tests
    - E2E=no
    # Enable Europe/Zurich timezone
    - TZ="Europe/Zurich"
  matrix:
    - REQUIREMENTS="--deploy" E2E=yes
    - REQUIREMENTS=""

before_script:
  - CHROME_MAIN_VERSION=`google-chrome-stable --version | sed -E 's/(^Google Chrome |\.[0-9]+ )//g'`
  - CHROMEDRIVER_VERSION=`curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_MAIN_VERSION"`
  - curl "https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip" -O
  - unzip chromedriver_linux64.zip -d ~/bin
  # Allow services running inside docker to start
  - "./docker/wait-for-services.sh"

before_install:
  # Stop default travis services
  - "sudo service mysql stop"
  - "sudo service postgresql stop"
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost:5000 &
  # Start docker services
  - "docker-compose up -d"
  - "nvm install 8; nvm use 8"
  - "travis_retry pip install --upgrade pip setuptools py 'poetry<1.1'"
  - "travis_retry pip install twine wheel coveralls"
  - "travis_retry pip install --upgrade numpy"

install:
  - "./scripts/bootstrap --ci $REQUIREMENTS"
  - "poetry install --no-root --extras sip2"
  - "poetry show"  # To have details about installed libs (isort, pytest, etc.)

env:
  # Travis can run 5 tests in parallel
  - TEST=other
  - TEST=api
  - TEST=e2e
  - TEST=scheduler
  - TEST=ui
  - TEST=unit
  - TEST=external

script:
  - poetry run run-tests $TEST

after_success:
  - "COVERALLS_PARALLEL=true coveralls"

notifications:
  webhooks: 'https://coveralls.io/webhook'
