# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 RERO.
#
# reroils-app is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

# TODO: Generate this manifest file by running the following commands:
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

# Check manifest will not automatically add these two files:
include .dockerignore
include .editorconfig
include .tx/config
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include reroils_app *.po *.pot *.mo
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh

# added by check_manifest.py
include *.rst
include *.sh
include *.txt
include *.yml
include LICENSE
include babel.ini
include pytest.ini

recursive-include development *.json
recursive-include development *.sh
recursive-include development *.txt
include development/docker/Dockerfile
include development/docker/Dockerfile_elastic
include development/tests/Dockerfile

recursive-include deployment *.json
recursive-include deployment *.sh
recursive-include deployment *.yml
include deployment/Dockerfile
include deployment/jenkins/Dockerfile
include deployment/jenkins/Jenkinsfile_deployment
include deployment/jenkins/Jenkinsfile_development

recursive-include doc *.graffle
recursive-include doc *.pdf
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include reroils_app *.css
recursive-include reroils_app *.gitkeep
recursive-include reroils_app *.html
recursive-include reroils_app *.jpg
recursive-include reroils_app *.js
recursive-include reroils_app *.json
recursive-include reroils_app *.png
recursive-include reroils_app *.scss
recursive-include reroils_app *.txt
recursive-include tests *.py
recursive-include data *.json
recursive-include data *.xml
recursive-include data *.yml
