# -*- coding: utf-8 -*-
#
# This file is part of REROILS.
# Copyright (C) 2017 RERO.
#
# REROILS is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# REROILS is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with REROILS; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, RERO does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

# Check manifest will not automatically add these two files:
include .dockerignore
include .editorconfig
include .tx/config
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include reroils_app *.po *.pot *.mo
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
include deployment/jenkins/Dockerfile
include deployment/jenkins/Jenkinsfile_deployment

# added by check_manifest.py
include *.base
include *.lock
include *.rst
include *.sh
include *.txt
include *.yml
include LICENSE
include Pipfile
include babel.ini
include pytest.ini
recursive-include data *.json
recursive-include data *.xml
recursive-include data *.yml
recursive-include deployment *.yml
recursive-include doc *.graffle
recursive-include doc *.pdf
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include reroils_app *.css
recursive-include reroils_app *.gitkeep
recursive-include reroils_app *.html
recursive-include reroils_app *.jpg
recursive-include reroils_app *.js
recursive-include reroils_app *.json
recursive-include reroils_app *.png
recursive-include reroils_app *.scss
recursive-include reroils_app *.txt
recursive-include tests *.py
