# -*- coding: utf-8 -*-
#
# RERO ILS
# Copyright (C) 2019 RERO
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

-e git+https://github.com/inveniosoftware/invenio.git#egg=invenio[postgresql,elasticsearch6,base,auth,metadata]

# base bundle
-e git+https://github.com/inveniosoftware/invenio-admin.git#egg=invenio-admin
-e git+git://github.com/inveniosoftware/invenio-assets.git#egg=invenio-assets
-e git+git://github.com/inveniosoftware/invenio-circulation.git#egg=invenio-circulation
-e git+git://github.com/inveniosoftware/invenio-formatter.git#egg=invenio-formatter
-e git+git://github.com/inveniosoftware/invenio-logging.git#egg=invenio-logging
-e git+https://github.com/inveniosoftware/invenio-mail.git#egg=invenio-mail
-e git+https://github.com/inveniosoftware/invenio-rest.git#egg=invenio-rest
-e git+git://github.com/inveniosoftware/invenio-theme.git#egg=invenio-theme


# auth
-e git+https://github.com/inveniosoftware/invenio-access.git#egg=invenio-access
-e git+https://github.com/inveniosoftware/invenio-accounts.git#egg=invenio-accounts
-e git+https://github.com/inveniosoftware/invenio-oauth2server.git#egg=invenio-oauth2server
-e git+https://github.com/inveniosoftware/invenio-oauthclient.git#egg=invenio-oauthclient

# metadata
-e git+git://github.com/inveniosoftware/invenio-indexer.git#egg=invenio-indexer
-e git+git://github.com/inveniosoftware/invenio-jsonschemas.git#egg=invenio-jsonschemas
-e git+git://github.com/inveniosoftware/invenio-oaiserver.git#egg=invenio-oaiserver
-e git+git://github.com/inveniosoftware/invenio-oaiharvester.git#egg=invenio-oaiharvester
-e git+https://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+git://github.com/inveniosoftware/invenio-records-rest.git#egg=invenio-records-rest
-e git+git://github.com/inveniosoftware/invenio-records-ui.git#egg=invenio-records-ui
-e git+git://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
-e git+git://github.com/inveniosoftware/invenio-search-ui.git#egg=invenio-search-ui
-e git+git://github.com/inveniosoftware/dojson.git#egg=dojson


# other
-e git+git://github.com/inveniosoftware/invenio-app.git#egg=invenio-app
-e git+git://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
-e git+git://github.com/inveniosoftware/invenio-celery.git#egg=invenio-celery
-e git+git://github.com/inveniosoftware/invenio-config.git#egg=invenio-config
-e git+https://github.com/inveniosoftware/invenio-i18n.git#egg=invenio-i18n

# elasticsearch
-e git+git://github.com/inveniosoftware/invenio-search.git#egg=invenio-search[elasticsearch6]

# db
-e git+https://github.com/inveniosoftware/invenio-db.git#egg=invenio-db[postgresql,versioning]
# cache
-e git+https://github.com/inveniosoftware/invenio-cache.git#egg=invenio-cache
