# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 RERO.
#
# reroils-app is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
# This file will include pinned versions of packages
# TODO: Generate this file by running the following commands:
#
# pip install -e .
# pip install pip-tools
# pip-compile
#
# You can read more about pip-compile command here:
# https://github.com/jazzband/pip-tools#example-usage-for-pip-compile

git+https://github.com/rero/reroils-record-editor.git@v0.1.0a17#egg=reroils-record-editor
git+https://github.com/inveniosoftware/invenio-oaiharvester.git@v1.0.0a4#egg=invenio-oaiharvester
