/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

app-root {
  input.ng-valid,
  textarea.ng-valid {
    border-left: 5px solid $form_valid;
  }

  input.ng-invalid,
  textarea.ng-invalid {
    border-left: 5px solid $form_error; /* red */
  }

  .required::after {
    content: " *";
    color: $form_required;
  }

  a.collapsed i.fa-caret-down {
    transform: rotate(-90deg);
  }

  .rero-ils-person small {
    font-size: $font-size-very-small;
    vertical-align: top;
  }
}

typeahead-container {
  .dropdown-item {
    padding: .25rem 3rem;
  }
}

.toast-container {
  position: absolute;
  z-index: 9999999;
  top: 0;
  right: 0;
}

.toast {
  min-width: 350px;
}

.toast-top-right {
  top: 12px;
  right: 24px;
}

.toast-success .toast-body {
  background-color: #28a745;
  color: white;
}

.toast-warning .toast-body {
  background-color: #fd7e14;
  color: white;
}

.toast-error .toast-body,
.toast-danger .toast-body {
  background-color: #dc3545;
  color: white;
}
