{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-FileCopyrightText: UCLouvain #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{{ dl(_('Name'), record.name) }}
{{ dl(_('Subordinate units'), record.subordinate_units) }}
{{ dl(_('Conference place'), record.conference_place) }}
{{ dl(_('Conference numbering'), record.conference_numbering) }}
{{ dl(_('Conference date'), record.conference_date) }}
{{ dl_bool(_('Conference'), record.conference) }}
{{ dl(_('Start date'), record.start_date) }}
{{ dl(_('End date'), record.end_date) }}
{{ dl(_('Alternative names'), record.alternative_names) }}
