<ul class="re-list">
    <li ng-controller="recordController" ng-init="rec=record" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <h3><a target="_self" ng-href="/records/{{ record.id }}">{{ record.metadata.title }}</a></h3>

    <!-- author -->
    <ul class="list-inline" ng-show='record.metadata.authors.length > 0'>
        <li ng-repeat='author in record.metadata.authors.slice(0,3)'>
            {{ author.name }}
            {{ author.qualifier ? author.qualifier : '' }}
            {{ author.date ? author.date : '' }}
            {{ $last ? '' : '; ' }}
        </li>
        <li ng-show='record.metadata.authors.length > 3'>; …</li>
    </ul>

    <!-- publishers -->
    <ul class="list-inline" ng-show='record.metadata.publishers.length > 0'>
        <li ng-repeat='publisher in record.metadata.publishers'>
            {{ publisher.place.join(', ') }}:
            {{ publisher.name.join(', ') }}
            {{ $last ? '' : '; ' }}
        </li>
    </ul>

    <!-- publicationDate -->
    <span ng-show='record.metadata.publicationYear && !record.metadata.freeFormedPublicationDate'>{{ record.metadata.publicationYear }}</span>
    <span ng-show='record.metadata.freeFormedPublicationDate'>{{ record.metadata.freeFormedPublicationDate }}</span>
    <div class="reroils-circulation">
        <a ng-href="/records/{{ record.id }}" ng-show='numberOfCitemsAvailable() === 1'>
            <i class="fa fa-circle text-success" aria-hidden="true"></i>
            <span class="">{{numberOfCitemsAvailable()}}</span>
            <span translate>item available</span>
        </a>
        <a ng-href="/records/{{ record.id }}" ng-show='numberOfCitemsAvailable() > 1'>
            <i class="fa fa-circle text-success" aria-hidden="true"></i>
            <span class="">{{numberOfCitemsAvailable()}}</span>
            <span translate>items available</span>
        </a>
        <span ng-show='numberOfCitemsAvailable() === 0'>
            <i class="fa fa-circle text-danger" aria-hidden="true"></i>
            <span translate>no item available</span>
        </span>
    </div>
    <hr />
  </li>
</ul>
