{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
{% include('rero_ils/_patron_profile_head.html') %}

<div id="patron_profile_tabs" class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#loan" data-toggle="tab">{{ _('checkouts') }} ({{ loans|length }})</a>
        </li>
        <li role="presentation">
            <a href="#pending" data-toggle="tab">{{ _('Pending') }} ({{ pendings|length }})</a>
        </li>
        <li role="presentation">
            <a href="#user" data-toggle="tab">{{ _('Personal data')}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="loan">
            {% if loans|length > 0 %}
                {{ build_table('checkouts', loans) }}
            {% else %}
                <p>{{ _('No loan') }}</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="pending">
            {% if pendings|length > 0 %}
                {{ build_table('requests', pendings) }}
            {% else %}
                <p>{{ _('No pending') }}</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="user">
            {% include('rero_ils/_patron_profile_personal.html') %}
        </div>
    </div>
</div>
{%- endblock %}

{% macro build_table(type, documents) %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="col-md-6" scope="col">{{ _('Title') }}</th>
                <th class="col-md-2" scope="col">{{ _('Call Number') }}</th>
                <th class="col-md-2" scope="col">
                  {% if 'checkout' == type %}
                    {{ _('Belongs to') }}
                  {% else %}
                    {{ _('Pickup library') }}
                  {% endif %}
                </th>
                <th class="col-md-2" scope="col">
                    {% if 'checkouts' == type %}
                        {{ _('Due date') }}
                    {% else %}
                        {{ _('Reservation date') }}
                    {% endif %}
                </th>
                {% if 'checkouts' == type %}
                <th class="col-md-1" scope="col">
                        {{ _('Renewals') }}
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.call_number }}</td>
                <td>
                    {% if 'checkouts' == type %}
                      {{ document.library_name}}
                    {% else %}
                        {{ document.pickup_location_name }}
                    {% endif %}
                </td>
                <td>
                    {% if 'checkouts' == type %}
                      {{ document.end_date|format_date(
                          format='short_date',
                          locale=current_i18n.locale.language
                      )}}
                    {% else %}
                        {{ document.transaction_date|format_date(
                          format='short_date',
                          locale=current_i18n.locale.language
                      )}}
                    {% endif %}
                </td>
                {% if 'checkouts' == type %}
                <td>
                    {{ document.extension_count }}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
