#patron_profile {
	margin-top: 1em;
  margin-bottom: 1em;
}

/* #patron_profile h1 {
	margin: 0;
} */

#user > div:nth-child(1),
#user > div:nth-child(2) {
	margin-top: .5em;
}

#loan p,
#pending p {
	margin-top: .5em;
	font-weight: bold;
}

.btn-space {
    margin: 5px;
}

.text-align-right {
	text-align: right;
}
