// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

.rero-ils-logo {
  max-height: $navbar-brand-height;
  margin: 7px 0;
}

header {
  position: relative;
}

.rero-ils-page-body {
  height: calc(100vh - 0px);
  overflow: auto;
}

.nav-link,
.navbar-toggler:focus,
.navbar-brand {
  outline: 0;
}

.nav-item a.collapsed .fa-caret-down {
  transform: rotate(-90deg);
}

.rero-ils-second-menu:not(.d-none){
  border-top: solid #F0F0F0 1px;
}

.patron-info-message {
  background: rgba(255,243,205, 1);
}
