// SPDX-FileCopyrightText: Fondation RERO+
// SPDX-License-Identifier: AGPL-3.0-or-later

body {
  height: 100vh;      // With block page body div to flex-grow-1
}                     // push the footer to the bottom

// FIELDS FORMAT -----------------------
ng-core-formly-field-primeng-input > input,
formly-field > input {
  width: 100%;
  border: 1px solid #ced4da;
}

ng-core-formly-field-primeng-input > input:read-only {
  background: #e9ecef;
}

.p-inputgroup-addon,
input {
  padding: 0.375em 0.75rem;
}

label {
  align-items: baseline;
}
