{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- macro flashed_messages() -%}
  {%- block messages %}
    {%- set messages = get_flashed_messages(with_categories=True) %}
    {%- if messages|length > 0 %}
    <div class="toast-container">
        {%- for category, msg in messages %}
        {%- set category = 'info' if category not in ['info', 'danger', 'warning', 'success'] else category %}
        <div class="toast toast-top-right toast-{{ category }} show">
          <div class="toast-body">
            {{ msg }}
          </div>
        </div>
      {%- endfor %}
    </div>
    {%- endif %}
  {%- endblock messages %}
{%- endmacro %}
