<label *ngIf="options?.title"
  [class]="options?.labelHtmlClass || ''"
  [style.display]="options?.notitle ? 'none' : ''"
  [innerHTML]="options?.title"></label>
<!-- 'horizontal' = checkboxes-inline or checkboxbuttons -->
<div *ngIf="layoutOrientation === 'horizontal'" [class]="options?.htmlClass || ''">
  <label *ngFor="let checkboxItem of checkboxList"
    [attr.for]="'control' + layoutNode?._id + '/' + checkboxItem.value"
    [class]="(options?.itemLabelHtmlClass || '') + (checkboxItem.checked ?
      (' ' + (options?.activeClass || '') + ' ' + (options?.style?.selected || '')) :
      (' ' + (options?.style?.unselected || '')))">
    <input type="checkbox"
      [attr.required]="options?.required"
      [checked]="checkboxItem.checked"
      [class]="options?.fieldHtmlClass || ''"
      [disabled]="controlDisabled"
      [id]="'control' + layoutNode?._id + '/' + checkboxItem.value"
      [name]="checkboxItem?.name"
      [readonly]="options?.readonly ? 'readonly' : null"
      [value]="checkboxItem.value"
      (change)="updateValue($event)">
    <span [innerHTML]="checkboxItem.name"></span>
  </label>
</div>
<!-- 'vertical' = regular checkboxes -->
<div *ngIf="layoutOrientation === 'vertical'">
  <div *ngFor="let checkboxItem of checkboxList" [class]="options?.htmlClass || 'checkbox'">
    <label
      [attr.for]="'control' + layoutNode?._id + '/' + checkboxItem.value"
      [class]="(options?.itemLabelHtmlClass || '') + (checkboxItem.checked ?
        (' ' + (options?.activeClass || '') + ' ' + (options?.style?.selected || '')) :
        (' ' + (options?.style?.unselected || '')))">
      <input type="checkbox"
        [attr.required]="options?.required"
        [checked]="checkboxItem.checked"
        [disabled]="isDisabled(checkboxItem)"
        [id]="options?.name + '/' + checkboxItem.value"
        [name]="checkboxItem?.name"
        [readonly]="options?.readonly ? 'readonly' : null"
        [value]="checkboxItem.value"
        (change)="updateValue($event)">
      <span [innerHTML]="checkboxItem?.name"></span>
    </label>
  </div>
</div>