{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
  <div class="row">
    <div class="col-md-12">
      <h2> {{_('Circulation Policy')}}: {{ record.name }}</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{_('Name')}}:
    </div>
    <div class="col-xs-9 col-sm-10">
      <b> {{ record.name }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{_('Description')}}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{_('Organisation')}}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.organisation_pid }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{_('Allow Requests')}}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.allow_requests }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{_('Allow Checkouts')}}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.allow_checkout }}
    </div>
  </div>
  {% if record.checkout_duration %}
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        {{_('Checkout Duration')}}:
      </div>
      <div class="col-xs-9 col-sm-10">
        {{ record.checkout_duration }} {{_('day(s)')}}
      </div>
    </div>
  {% endif %}
  {% if record.number_renewals %}
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        {{_('Number Renewals')}}:
      </div>
      <div class="col-xs-9 col-sm-10">
        {{ record.number_renewals }}
      </div>
    </div>
  {% endif %}
  {% if record.renewal_duration %}
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        {{_('Renewal Duration')}}:
      </div>
      <div class="col-xs-9 col-sm-10">
        {{ record.renewal_duration }} {{_('day(s)')}}
      </div>
    </div>
  {% endif %}


  {% with
    href_update=url_for('cipo.edit_view', pid=record.pid),
    href_delete=url_for('cipo.delete_view', pid=record.pid),
    json=record,
    message=_("Circulation policy cannot be deleted: there are still patron/item types linked to this policy.")
  %}
    {% include 'rero_ils/_editor_button_actions.html' %}
  {% endwith %}

</div>
{%- endblock %}
