{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
{%- set item=record -%}
<div class="container search-page">
  {% include('rero_ils/_item_head.html') %}
<!-- Circulations -->
{% if item.status %}
  {% if item.status == 'in_transit' %}
  <div class='reroils-items row'>
    <div class="col-sm-12">
      <hr>
      <h4>{{ _('In Transit') }}</h4>
    </div>
  </div>
  {% endif %}

  {% if item.status == 'on_loan' %}
  <div class='reroils-items row'>
    <div class="col-sm-12">
      <hr>
      <h4>{{ _('Loaned by') }}</h4>
    </div>
  </div>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th class="col-md-8" scope="col">{{ _('Patron') }}</th>
        <th class="col-md-2" scope="col">{{ _('Due date') }}</th>
        <th class="col-md-2" scope="col">{{ _('Renewals') }}</th>
      </tr>
    </thead>
    <tbody>
      {% set patron = item.pid|get_patron_from_checkout_item_pid %}
      {% set holding = item.pid|get_checkout_loan_for_item %}
      {% set patron_name = patron.first_name + ' ' + patron.last_name + ' - ' + patron.barcode %}
      <tr>
        <td>
          <a href="{{ url_for('circulation.index') + 'checkinout?patron=' + patron.get('barcode') }}">{{ patron_name }}</a>
        </td>
        <td>
          {{ holding.end_date|format_date(
            format='short_date',
            locale=current_i18n.locale.language
          ) }}
        </td>
        {% if holding.extension_count %}
            <td>{{ holding.extension_count }}</td>
        {% else %}
            <td>0</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  {% endif %}

  {% if item.number_of_requests() > 0 %}
    <div class='reroils-items row'>
      <div class="col-sm-12">
        <hr>
        <h4>{{ _('Pending') }} ({{ item.number_of_requests() }})</h4>
      </div>
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="col-md-4" scope="col">{{ _('Patron') }}</th>
          <th class="col-md-4" scope="col">{{ _('Pickup library') }}</th>
          <th class="col-md-2" scope="col">{{ _('Reservation date') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for holding in item.get_requests() %}
          {% set patron = holding.patron_pid|get_patron_from_pid %}
          {% set location_name = holding.pickup_location_pid|get_location_name_from_pid %}
          {% set patron_name = patron.first_name + ' ' + patron.last_name + ' - ' + patron.barcode %}
          <tr>
            <td>
              {% if patron %}
                <a href="{{ url_for('circulation.index') + 'checkinout?patron=' + patron.get('barcode') }}">{{ patron_name }}</a>
              {% else %}
                {{ _('No patron found!') }}
              {% endif %}
            </td>
            <td>
              <a href="{{ '/locations/' + holding.pickup_location_pid }}">{{ location_name }}</a>
            </td>
            <!-- TODO: task #554 change start_date to request_datetime -->
            <td>
              {% if holding.transaction_date %}
                {{ holding.transaction_date|format_date(
                  format='short_date',
                  locale=current_i18n.locale.language
                ) }}
              {% else %}
                {{ _('No Date') }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}
</div>
{%- endblock %}