<div class="panel panel-default" ng-show="vm.invenioSearchResults.aggregations.years.buckets.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">
          <a class="toggle" data-toggle="collapse" href="#collapse-year" translate>years</a>
        </h3>
    </div>
    <div id="collapse-year" class="panel-collapse collapse in">
      <div class="panel-body">
          <div ng-style="{width: '80%', margin: '0 auto'}" id="year_hist"></div>
          <div ng-style="{width: '80%', margin: '0 auto'}" id="year_select"></div>
      </div>
    </div>
</div>
