  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li *ngIf="nDocuments>0" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
false}" [queryParams]="{q: query, page: 1, size: 10}" [routerLink]="['/' + viewCode + '/search/documents']">
          <span  translate="">Documents </span>
          <span class="badge badge-pill badge-light">{{ nDocuments }}</span>
        </a>
      </li>
      <li *ngIf="nPersons>0" class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
false}" [queryParams]="{q: query, page: 1, size: 10}" [routerLink]="['/' + viewCode + '/search/persons']">
          <span  translate="">Persons </span>
          <span class="badge badge-pill badge-light">{{ nPersons }}</span>
        </a>
      </li>
    </ul>
    <div class="mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
