{% macro dl(title, content) %}
  <dt class="col-sm-3 offset-sm-2 offset-md-1">
    {{ title }}:
  </dt>
  <dd class="col-sm-7 col-md-8 mb-0">
    {{ content|safe }}
  </dd>
{% endmacro %}

{% macro div_row(title, content) %}
  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      {{ title }}:
    </div>
    <div class="col-xs-8">
      {{ content|safe }}
    </div>
  </div>
{% endmacro %}

{% macro div_row_xs3_xs9(title, content) %}
<div class="row">
    <div class="col-xs-3 col-sm-2">
        {{ title }}:
    </div>
    <div class="col-xs-9 col-sm-10">
        {{ content|safe }}
    </div>
</div>
{% endmacro %}

{% macro div_json(title, data) %}
<div class="align-self-end">
  <a href="#source-{{ data.id }}" data-toggle="collapse" type="button" role="button" class="btn btn-info" aria-expanded="false" aria-controls="JSON display">
    <i class="fa fa-search-plus fa-fw"></i> {{ title }}
  </a>
</div>

<div id="source-{{ data.id }}" class="card bg-light collapse mt-2">
  <pre class="text-muted p-2 mb-0" >{{ data|tojson_pretty }}</pre>
</div>
{% endmacro %}
