{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{% from 'rero_ils/macros/person.html' import build_row %}
{% from 'rero_ils/macros/macro.html' import div_json %}

{%- block page_body %}
<div class="container search-page rero-ils-person">
  <div class="row">
    <div class="col-xs-1">
      <i class="fa fa-user fa-5x" aria-hidden="true"></i>
      <span class="icon-document-type">{{ _('Person') }}</span>
    </div>

    <div class="col-xs-11">
      <ul class="nav nav-pills pull-right" role="tablist">
        <li role="presentation" class="active">
          <a href="#merged" data-toggle="tab" title="{{ _('All sources') }}"><i class="fa fa-list-ul"></i></a>
        </li>
        <li role="presentation">
          <a href="#separated" data-toggle="tab" title="{{ _('By source') }}"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
      <h1>{{ record | person_label(current_i18n.language) }}</h1>
      {{ build_row('MEF ID', record.pid) }}

    </div>

  <div class="col-xs-12">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="merged">
        {% include('rero_ils/_person_merged.html') %}
      </div>
      <div role="tabpanel" class="tab-pane" id="separated">
        {% include('rero_ils/_person_separated.html') %}
      </div>
    </div>
  </div>
    <!-- JSON -->
    {%- if current_user|can_edit %}
      {{ div_json(_('JSON'), record.dumps()) }}
    {% endif %}
  </div>
</div>
{%- endblock %}

{% block javascript %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    /* Store state of view tab */
    $('a[data-toggle="tab"]').on('click', function(e) {
      localStorage.setItem('activeTab', $(this).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab) {
      $('.nav-pills a[href="' + activeTab + '"]').tab('show');
    }
});
</script>
{% endblock %}
