/** solve invalid group */
.fields-group div.form-control {
    height: 100%;
}

.fields-group {
    border-left: 5px solid #ccc;
    margin-top: 10px;
    padding-left: 16px;
}
.fields-group .fields-group {
    border: none;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1em;
}

.form-control {
    border: none;
    padding: 0;
}

