{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<footer class="rero-ils-footer border-top mt-4 bg-light d-flex">
  <div class="container d-flex justify-content-center align-items-center py-4">
    <p class="text-secondary mb-0">
      {{ _('Powered by') }} <a href="https://www.rero.ch/produits/ils" target="_blank">RERO ILS</a> &
      <a href="https://inveniosoftware.org/" target="_blank" rel="noopener">Invenio</a> |
      <a href="https://github.com/rero/rero-ils/releases/tag/v{{version}}" target="_blank">v{{ version }}</a>
      {% if config.RERO_ILS_PRIVACY_POLICY_URL %} |
      <a href="{{ config.RERO_ILS_PRIVACY_POLICY_URL }}" target="_blank">{{ _('Privacy policy') }}</a>
      {% endif %}
      {% set footer_message = footer_message() %}
      {% if footer_message %} |
        <a>{{ footer_message }}</a>
      {% endif %}
    </p>
  </div>
</footer>
