{# SPDX-FileCopyrightText: Fondation RERO+ #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'rero_ils/page.html' %}
{% set title = _('Help') ~ ' | ' ~ _(config.THEME_SITENAME) %}

{%- block css %}
{{ super() }}
<link href="{{ url_for('wiki.static', filename='css/wiki.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/rero_ils/wiki.css') }}" rel="stylesheet" />
<!-- EasyMDE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde@2.16.1/dist/easymde.min.css">
{%- endblock %}


{%- block page_body %}
<div class="container-fluid flex-grow-1">

{% block navigation %}
{%- include "wiki/navigation.html" %}
{%- endblock navigation %}

{% block content %} {% endblock %}
{%- endblock page_body %}

{%- block javascript %}
{{ super() }}
<!-- EasyMDE -->
<script src="https://cdn.jsdelivr.net/npm/easymde@2.16.1/dist/easymde.min.js"></script>
<script type="text/javascript" src="{{ url_for('wiki.static', filename='js/wiki.js') }}">
</script>
{%- endblock javascript %}
</body>

</html>
