{{ build_row('Birth date', data.date_of_birth) }}
{{ build_row('Death date', data.date_of_death) }}
{{ build_row('Language of person', data.language_of_person) }}
{{ build_row('Gender', data.gender) }}
{{ build_row('Biographical information', data.biographical_information) }}
{{ build_row_permalink('ID', data, source_name) }}
{{ build_row('Name', data.preferred_name_for_person) }}
{{ build_row('Variant name', data.variant_name_for_person) }}
{{ build_row('Authorized access point', data.authorized_access_point_representing_a_person) }}
