{% if record.rero|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="toggle panel-title" data-toggle="collapse" href="#collapse-rero">
        {{ _('RERO') }}
    </h4>
  </div>
  <div id="collapse-rero" class="panel-collapse collapse in">
    <div class="panel-body">
      {% with data=record.rero, source_name='rero' %}
      {% include('rero_ils/_person_separated_data.html') %}
      {% endwith %}
    </div>
  </div>
</div>
{% endif %}

{% if record.gnd|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="toggle panel-title" data-toggle="collapse" href="#collapse-gnd">
        {{ _('GND') }}
    </h4>
  </div>
  <div id="collapse-gnd" class="panel-collapse collapse in">
    <div class="panel-body">
      {% with data=record.gnd, source_name='gnd' %}
      {% include('rero_ils/_person_separated_data.html') %}
      {% endwith %}
    </div>
  </div>
</div>
{% endif %}

{% if record.bnf|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="toggle panel-title" data-toggle="collapse" href="#collapse-bnf">
      {{ _('BNF') }}
    </h4>
  </div>
  <div id="collapse-bnf" class="collapse in">
    <div class="panel-body">
      {% with data=record.bnf, source_name='bnf' %}
      {% include('rero_ils/_person_separated_data.html') %}
      {% endwith %}
    </div>
  </div>
</div>
{% endif %}
