{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{% from 'rero_ils/macros/macro.html' import div_row_xs3_xs9 %}

{%- block page_body %}
<div class="container search-page">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ record.name }}</h1>
    </div>
  </div>

  {% if record.code %}
    {{ div_row_xs3_xs9(_('Code'), record.code) }}
  {% endif %}

  {% with
    href_update=url_for('loc.edit_view', pid=record.pid),
    href_delete=url_for('loc.delete_view', pid=record.pid),
    json=record,
    message=_("Location cannot be deleted: there are still items linked to this location.")
  %}
    {% include 'rero_ils/_editor_button_actions.html' %}
  {% endwith %}
</div>
{%- endblock %}
