<ul class="re-list">
    <li ng-controller="recordController" ng-init="rec=record" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
        <h3><a target="_self" ng-href="/organisations/{{ record.id }}">{{ record.metadata.name }}</a></h3>
        {{ record.metadata.adress }}
        <div class="text-right">
          <ul class="list-inline">
            <li>
              <a ng-click="showSource=!showSource">
                {{ 'JSON' }}
              </a>
            </li>
          </ul>
        </div>
        <div ng-hide="!showSource">
          <pre>{{ record | json }}</pre>
        </div>
        <hr />
    </li>
</ul>
