{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ record.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{ _('Name') }}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{ _('Description') }}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      {{ _('Organisation') }}:
    </div>
    <div class="col-xs-9 col-sm-10">
      {{ record.organisation_pid }}
    </div>
  </div>

  {% with
      href_update=url_for('itty.edit_view', pid=record.pid),
      href_delete=url_for('itty.delete_view', pid=record.pid),
      json=record,
      message=_("Item type cannot be deleted: there are still items linked to this item type.")
  %}
      {% include 'rero_ils/_editor_button_actions.html' %}
  {% endwith %}
</div>
{%- endblock %}
