{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{% from 'rero_ils/macros/macro.html' import div_row, div_json %}

{%- block page_body %}
<div class="container search-page">
  <div class="row">
    <div class="col-xs-2" id="thumbnail">
      <icon-thumbnail class="thumb"
        {% if record.identifiers %}
          identifiers='{{ (record.identifiers or {})|tojson }}'
        {% else %}
          identifiers=""
        {% endif %}
        type="{{ record.type }}"
        config='{{ {"thumbnail_service_url": config.RERO_ILS_THUMBNAIL_SERVICE_URL} | tojson }}'>
      </icon-thumbnail>
    </div>
    <div class="col-xs-10">
      <h1>{{ record.title }}</h1>
    </div>
  </div>
  {%- block record_body %}

  <!-- AUTHORS -->
  {% if record.authors|length > 0 %}
    {{ div_row(_('Author'), record.authors|authors_format) }}
  {% endif %}

  <!-- PUBLISHERS -->
  {% if record.publishers|length > 0 %}
  {{ div_row(_('Publisher'), record.publishers|publishers_format) }}
  {% endif %}

  <!-- PUBLICATION YEAR -->
  {% if record.publicationYear %}
  {{ div_row(
    _('Date'),
    record.freeFormedPublicationDate if record.freeFormedPublicationDate else record.publicationYear
  ) }}
  {% endif %}

  <!-- ABSTRACT -->
  {% if record.abstracts|length > 0 %}
    {{ div_row(_('Abstract'), record.abstracts|abstracts_format|nl2br) }}
  {% endif %}

  <!-- PHYSICAL DESCRIPTION -->
  {% if record.extent or record.otherMaterialCharacteristics or record.formats %}
    {% set formats = ', '.join(record.formats) %}
    {% set description = ', '.join([record.extent, record.otherMaterialCharacteristics, formats]|select) %}
    {{ div_row(_('Physical description'), description) }}
  {% endif %}

  <!-- ADDITIONAL MATERIALS -->
  {% if record.additionalMaterials %}
    {{ div_row(_('Additional Materials'), record.additionalMaterials) }}
  {% endif %}

  <!-- SERIES -->
  {% if record.series|length > 0 %}
    {{ div_row(_('Series'), record.series|series_format) }}
  {% endif %}

  <!-- UNIFORM TITLE -->
  {% if record.titlesProper|length > 0 %}
    {{ div_row(_('Uniform title'), record.titlesProper|join('; ')) }}
  {% endif %}

  <!-- IS PART OF -->
  {% if record.is_part_of %}
    {{ div_row(_('Is part of'), record.is_part_of) }}
  {% endif %}

  <!-- SUBJECTS -->
  {% if record.subjects|length > 0 %}
    {{ div_row(_('Subjects'), record.subjects|join('; ')) }}
  {% endif %}

  <!-- NOTES -->
  {% if record.notes|length > 0 %}
  {{ div_row(_('Notes'), record.notes|abstracts_format|nl2br) }}
  {% endif %}

  {% if record.identifiers %}
    {% if record.identifiers.isbn %}
      {{ div_row(_('ISBN'), record.identifiers.isbn) }}
    {% endif %}
  {% endif %}

  {% if record.electronic_location|length > 0 %}
    {% set uris = [] %}
    {% for resource in record.electronic_location %}
      {% do uris.append('<a href="'+ resource.uri +'"><i class="fa fa-lock fa-fw"></i> '+ resource.uri +'</a>') %}
    {% endfor %}
    {{ div_row(_('Online Access'), uris|join(', ')) }}
  {% endif %}

  {% if record.source %}
    {{ div_row(
      _('Source'),
      '<a href="'+ record.source +'" target="_blank">'+ record.source +'</a>'
    ) }}
  {% endif %}

  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
        {{ _('Permalink') }}:
    </div>
    <div class="col-xs-8">
      {{ url_for('invenio_records_ui.doc', pid_value=record.pid, _external=True) }}
    </div>
  </div>

  <hr/>

  <!-- Items -->
  <!-- {% if record.can_edit %} -->
    {%- if current_user|can_edit or items %}
    <div class='reroils-items row'>
      <div class="col-sm-12">
        <h3>{{ _('Items') }}
        </h3>
      </div>
    </div>
    {% endif %}
      {% for item in items %}
      {% set item_dump = item.dumps() %}

      {% if item.barcode %}
        {{ div_row(
          _('Barcode'),
          '<a href="'+ url_for('invenio_records_ui.item', pid_value=item.pid) +'">'+item.barcode+'</a>' if current_user|can_edit else item.barcode
        ) }}
      {% endif %}

      {% if item.call_number %}
        {{ div_row(_('Call Number'), item.call_number) }}
      {% endif %}

      {% if item_dump.library_name %}
        {{ div_row(
          _('Library'),
          '<a href="'+ url_for('invenio_records_ui.lib', pid_value=item_dump.library_pid) +'">'+item_dump.library_name+'</a>'
        ) }}
      {% endif %}

      {% if item_dump.location_name %}
        {{ div_row(
          _('Location'),
          '<a href="'+ url_for('invenio_records_ui.loc', pid_value=item.location_pid) +'">'+item_dump.location_name+'</a>')
        }}
      {% endif %}

      {% if item|number_of_requests > 0 %}
        {% if item|requested_this_item %}
          {{ div_row(_('Rank'), item|patron_request_rank) }}
        {% endif %}
      {% endif %}

      {% if item.status %}
        {{ div_row(
          _('Status'),
          '<i class="fa fa-circle text-'+ ('success' if item.available else 'danger') +'"></i> '+
          item|item_status_text(format='short_date', locale=current_i18n.locale.language)
        ) }}
      {% endif %}

      <div class="row">
        <div class="col-sm-2">
          {% if item|can_request %}
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ _('Request') }} <i class="fa fa-caret-down fa-fw"></i>
            </button>

            <ul class="dropdown-menu">
              <li><a>{{ _('Available Pickup Locations') }}</a></li>
              <li role="separator" class="divider"></li>
              {% set locations = item|item_library_pickup_locations %}

              {% for location in locations %}
                <li>
                  <a href="{{ url_for('item.patron_request', item_pid=item.pid, pickup_location_pid=location.pid)}}">
                    {{ location.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="col-sm-9">

        </div>
      </div>
      <hr/>
      {% endfor %}
    <!-- {% endif %} -->

  {%- set formats = export_formats(pid.pid_type) %}
  {%- if formats %}
    <div class="row">
      <div class="col-sm-11">
        <h3>{{ _('Export Formats') }}</h3>
      </div>
      <div class="col-sm-11">
        <ul class="list-inline">
        {%- for slug, fmt in formats %}
          <li>
            <a href="{{ url_for('invenio_records_ui.doc_export', pid_value=pid.pid_value, format=slug, prettyprint=True) }}">{{ fmt.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  {%- endif %}
  {%- endblock %}
</div>
{%- endblock %}

{%- block javascript %}
{{ super() }}
{% assets "rero_ils_documents_detailed_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock javascript %}
