<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p translate>Exit without saving changes?</p>
        <button type="button"
        class="btn btn-default"
        (click)="doConfirm(true)"
        translate
        >Yes</button>
        <button type="button"
        class="btn btn-primary"
        (click)="doConfirm(false)"
        translate
        >Cancel</button>
      </div>
    </div>
  </div>
</div>
