{%- extends config.RECORDS_UI_BASE_TEMPLATE %}
{% from 'rero_ils/macros/macro.html' import div_row_xs3_xs9 %}

{%- block page_body %}
<div class="container search-page">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ record.name }}</h3>
    </div>
  </div>

  {% if record.code %}
    {{ div_row_xs3_xs9(_('Code'), record.code) }}
  {% endif %}

  {% if record.address %}
    {{ div_row_xs3_xs9(_('Address'), record.address) }}
  {% endif %}

  {% if record.email %}
    {{ div_row_xs3_xs9(_('Email'), record.email) }}
  {% endif %}

  <!-- Library settings -->
  <h4>Opening hours and holidays</h4>
  <div class="row">
    <div class="col-md-6">
      {% include('rero_ils/_opening_hours.html') %}
    </div>
    <div class="col-md-6">
      {% include('rero_ils/_exception_dates.html') %}
    </div>
  </div>

  {% with
    href_update= url_for('libraries.index', path=record.pid),
    href_delete=url_for('lib.delete_view', pid=record.pid),
    json=record,
    message=_("Library cannot be deleted: there are still locations linked to this library.")
  %}
    {% include 'rero_ils/_editor_button_actions.html' %}
  {% endwith %}

  <!-- Locations -->
  <hr>
  <div class='reroils-locations row'>
    <div class="col-sm-12">
      <h3>{{ _('Locations') }}
        {%- if current_user | can_edit %}
          <a href="{{ url_for('loc.create_view', parent_pid=record.pid) }}" type="button" class="btn btn-sm btn-success">
            <i class="fa fa-pencil-square-o fa-fw"></i> {{ _('Add') }}
          </a>
        {% endif %}
      </h3>
    </div>
  </div>
  {% if record.locations %}
    {% for location in record.locations %}
    <div class="row">
      <div class="col-sm-12">
        <h4>{{ location.name }}</h4>
      </div>
    </div>
    {% if location.code %}
      {{ div_row_xs3_xs9(_('Code'), location.code) }}
    {% endif %}

    {% with
      href_update=url_for('loc.edit_view', pid=location.pid),
      href_delete=url_for('loc.delete_view', pid=location.pid),
      json=location,
      message=_("Location cannot be deleted: there are still items linked to this location.")
    %}
      {% include 'rero_ils/_editor_button_actions.html' %}
    {% endwith %}
    <hr/>
    {% endfor %}
  {% endif %}
</div>
{%- endblock %}
